<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-markdown" role="menuitem"><a href="{{site.baseurl}}tag/markdown/">markdown</a></li>
    <li class="nav-vue" role="menuitem"><a href="{{site.baseurl}}tag/vue/">vue</a></li>
    <li class="nav-vue" role="menuitem"><a href="{{site.baseurl}}tag/FrontEnd/">FrontEnd</a></li>
    <li class="nav-vue" role="menuitem"><a href="{{site.baseurl}}tag/BackEnd/">BackEnd</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>